@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* banner css */
.banner{
    background-image: url(../images/backgrounds/main_background.png);
    background-size: cover;
    
}

.collpase{
    float:right;
}

.navbar{
    background-color: #304e66 !important;
    box-shadow: #304e66 !important;
    
}

.nav-link{
    color: antiquewhite !important;
    text-decoration: none !important;
    font-family: 'Montserrat', sans-serif;
}

.dropdown-menu{
    background-color: #304e66 !important;
    
}

.dropdown-item{
    color:antiquewhite !important
}

.dropdown-item:hover{
    background-color: #797b7e;
}

.contact_button{
    background: none;
    border: 3px solid antiquewhite;
    padding: 5px 10px;
    width: 150px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color:antiquewhite;
}

.contact_button:hover{
    background-color: antiquewhite;
    color:#304e66;
    transition: 0.5s;
    float: right;
}

.nav-link:hover{
    background-color: #797b7e;
}

.main_title{
    color: #797b7e;
    font-family: 'Montserrat', sans-serif;
    text-shadow: #797b7e 1px 0 10px;
}

.main_desc{
    color: #c00000;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    
}

.main_list{
    color: #c00000;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 2;
}

.objective{
    position: relative;
    background-color: #797b7e !important;  
    float: right;
    margin-top: 10px;
    color: antiquewhite !important;
    text-decoration: none !important;
    font-family: 'Montserrat', sans-serif;
    
}

.objective:after{
    content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #797b7e;
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: skew(-45deg);
  -ms-transform: skew(-45deg);
  transform: skew(-45deg);
  z-index: -1;

}

.button_section{
    margin-top: 100px
}

.service_button{
    background: none;
    border: 3px solid #c00000;
    padding: 5px 10px;
    width: 150px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;;
}


.service_button:hover{
    background-color: #c00000;
    color:antiquewhite;
    transition: 0.5s;
    
}



.banner_img{
    border-right: 2px solid #797b7e;
    
}

.footer{
    background-color:#797b7e ;
    color: antiquewhite;
    font-family: 'Montserrat', sans-serif;
}

.footer_card{
    background-color: antiquewhite;
    height:300px;
    color:#797b7e;
    -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
          border-left: 2px solid #c00000;
          margin-top: 20px;
}
.footer-card-inner{
    padding: 20px;
}

.footer_end{
    color: antiquewhite;
    font-family: 'Montserrat', sans-serif;
}
@media only screen and (max-width: 767px) {
    .banner_img{
        text-align: center !important;
        
    }

    .banner_logo{
      width:200px
    }

    .contact_div{
        display: none;
    }

    .main_title{
        text-align: center;
    }

    .main_desc{
        text-align: center;
    }

    .service_button{
        margin-top: 20px;
    }

    
}

/* about us css */
.about_us_section{
    background-image:linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(245, 246, 252, 0.52)), url(../images/backgrounds/about_us_bg.jpg);
    background-size: cover;
    
}

.about_us_section h2{
    color:#797b7e;
    font-family: 'Montserrat', sans-serif;
    padding-top: 40px;

}

.about_us_section h3{
    color: #2b465c;
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
text-align: center;
}

.about_us_section h4{
    color: #2b465c;
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
text-align: center;
}

.about_silver{
    border: 2px solid #2b465c;
    margin-top: 40px;
    
}

.about_silver ul{
    color: #2b465c;
    font-family: 'Montserrat', sans-serif;
    
}

.about_red{
    border: 2px solid #2b465c;
    margin-top: 40px;
    
}

.about_red ul{
    color: #2b465c;
    font-family: 'Montserrat', sans-serif;
    margin-top: 40px;
}

.about_red_india{
    border: 2px solid #2b465c;
    margin-top: 40px;
    
}

.about_red_india ul{
    color: #2b465c;
    font-family: 'Montserrat', sans-serif;
    margin-top: 40px;
}

/* our mission css */

.our_mission_section{
    background-image: url(../images/backgrounds/our_mission_bg.jpg);
    background-size: cover;
}

.our_mission_section h1{
    font-family: 'Montserrat', sans-serif;
    color: antiquewhite;
}

.center { text-align: center;
    color: antiquewhite;
    font-family: 'Montserrat', sans-serif;
padding-top: 40px; }



.episode {
  display: grid;
  grid-template-columns: 1fr 3fr;
  position: relative;
}

.episode__number {
  font-size: 28px;
  font-weight: 600;
  padding: 10px 0;
  position: sticky;
  top: 0;
  text-align: center;
  /* height: calc(10vw + 20px); */
  transition: all 0.2s ease-in;
  color: antiquewhite;
  font-family: 'Montserrat', sans-serif;
}

.episode__content {
  border-top: 2px solid #fff;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 10px;
  padding: 15px 0;
  color: antiquewhite;
  font-family: 'Montserrat', sans-serif;
}

.episode__content .title {
  font-weight: 600;
  color: antiquewhite;
  font-family: 'Montserrat', sans-serif;
}

.episode__content .story {
  line-height: 26px;
}

@media (max-width: 600px) {
  .episode__content {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  .episode__content .story {
    font-size: 15px;
  }
}



/* services css */

.services{
    background-image:linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(245, 246, 252, 0.52)), url(../images/backgrounds/services_bg.jpg);
    background-size: cover;
}

.services h1{
    font-family: 'Montserrat', sans-serif;
    color: #2b465c;
}

.service-tagline{
    font-family: 'Montserrat', sans-serif;
    color: #2b465c;
    text-align: center;
}

.service-container-1{
    background-color: #304e66;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
         box-shadow: 0 10px 6px -6px #777;
         margin-bottom: 20px;
         margin-top: 20px;
}

.services-list{
    color:antiquewhite;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
}

.service-container-2{
    background-color: antiquewhite;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
         box-shadow: 0 10px 6px -6px #777;
         margin-bottom: 20px;
         margin-top: 20px;
}

.services-list-1{
    color:#304e66;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
}

.service-slider-title{
    color:#304e66;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#owl-demo .item{
    margin: 3px;
  }
  #owl-demo .item img{
    display: block;
    width: 100%;
    height: 200px;
  }


  /* office (uae) css */
  .office-uae-body{
    background-image: url(../images/backgrounds/main_background.png);
    background-size: cover;
    
}
 .office-uae-title{
     color:#797b7e;
     font-family: 'Montserrat', sans-serif;
     margin-top: 20px;
     margin-bottom: 20px;
     text-align: center;
 }

  /* .hello {
    opacity: 1 !important;
  } */
  .gallery {
    
    margin: auto;
    border-radius: 3px;
    overflow: hidden;
   
  }
  .img-c {
    width: 100%;
    height: 200px;
    float: left;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
  }
  
  .img-w {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: transform ease-in-out 300ms;
  }
  
  .img-w img {
    display: none;
  }
  
  .img-c {
      transition: width ease 400ms, height ease 350ms, left cubic-bezier(0.4, 0, 0.2, 1) 420ms, top cubic-bezier(0.4, 0, 0.2, 1) 420ms;
  }
  
  .img-c:hover .img-w {
    transform: scale(1.08);
    transition: transform cubic-bezier(0.4, 0, 0.2, 1) 450ms;
  }
  
  .img-c.active {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    z-index: 2;
   
  }
  
  .img-c.postactive {
    position: absolute;
    z-index: 2;
    pointer-events: none;
  }
  
  .img-c.active.positioned {
    left: 0 !important;
    top: 0 !important;
    transition-delay: 50ms;
  }
  #owl-demo .items{
    margin: 3px;
  }
  #owl-demo .items img{
    display: block;
    width: 100%;
    height: 200px;
  }

  /* projects css */

  #slider{
    width:100%;
    height:500px;
    position:relative;
    overflow:hidden;
  }
  @keyframes load{
    from{left:-100%;}
    to{left:0;}
  }
  .slides{
    width:400%;
    height:100%;
    position:relative;
    -webkit-animation:slide 30s infinite;
    -moz-animation:slide 30s infinite;
    animation:slide 30s infinite;
  }
  .slider{
    width:25%;
    height:100%;
    float:left;
    position:relative;
    z-index:1;
    overflow:hidden;
  }
  .slide img{
    width:100%;
    height:100%;
  }
  .slide img{
    width:100%;
    height:100%;
  }
  .image{
    width:100%;
    height:100%;
  }
  .image img{
    width:100%;
    height:100%;
  }
  
  /* Legend */
  .legend{
    border:500px solid transparent;
    border-left:800px solid rgba(52, 73, 94, .7);
    border-bottom:0;
    position:absolute;
    bottom:0;
  }
  
  /* Contents */
  .content{
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
  }
  .content-txt{
    width:400px;
    height:150px;
    float:left;
    position:relative;
    top:300px;
    -webkit-animation:content-s 7.5s infinite;
    -moz-animation:content-s 7.5s infinite;
    animation:content-s 7.5s infinite;
  }
  .content-txt h2{
    font-family:Arial;
    text-transform:uppercase;
    font-size:24px;
    color:#fff;
    text-align:left;
    margin-left:30px;
    padding-bottom:10px;
  }
  .content-txt p{
    font-family:arial;
    font-weight:normal;
    font-size:14px;
    font-style:italic;
    color:#fff;
    text-align:left;
    margin-left:30px;
  }
  
  /* Switch */
  .switch{
    width:120px;
    height:10px;
    position:absolute;
    bottom:50px;
    z-index:99;
    left:30px;
  }
  .switch > ul{
    list-style:none;
  }
  .switch > ul > li{
    width:10px;
    height:10px;
    border-radius:50%;
    background:#333;
    float:left;
    margin-right:5px;
    cursor:pointer;
  }
  .switch ul{
    overflow:hidden;
  }
  .on{
    width:100%;
    height:100%;
    border-radius:50%;
    background:#f39c12;
    position:relative;
    -webkit-animation:on 30s infinite;
    -moz-animation:on 30s infinite;
    animation:on 30s infinite;
  }

  .india-projects h1{
    color:#304e66;
    font-family: 'Montserrat', sans-serif;
  }
  .india-projects p{
    color:#304e66;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
  }

  .india-projects h2{
    
    font-family: 'Montserrat', sans-serif;
  }
  
  /* Animation */
  @-webkit-keyframes slide{
    0%,100%{
      margin-left:0%;
    }
    21%{
      margin-left:0%;
    }
    25%{
      margin-left:-100%;
    }
    46%{
      margin-left:-100%;
    }
    50%{
      margin-left:-200%;
    }
    71%{
      margin-left:-200%;
    }
    75%{
      margin-left:-300%;
    }
    96%{
      margin-left:-300%;
    }
  }
  @-moz-keyframes slide{
    0%,100%{
      margin-left:0%;
    }
    21%{
      margin-left:0%;
    }
    25%{
      margin-left:-100%;
    }
    46%{
      margin-left:-100%;
    }
    50%{
      margin-left:-200%;
    }
    71%{
      margin-left:-200%;
    }
    75%{
      margin-left:-300%;
    }
    96%{
      margin-left:-300%;
    }
  }
  @keyframes slide{
    0%,100%{
      margin-left:0%;
    }
    21%{
      margin-left:0%;
    }
    25%{
      margin-left:-100%;
    }
    46%{
      margin-left:-100%;
    }
    50%{
      margin-left:-200%;
    }
    71%{
      margin-left:-200%;
    }
    75%{
      margin-left:-300%;
    }
    96%{
      margin-left:-300%;
    }
  }
  
  @-webkit-keyframes content-s{
    0%{left:-420px;}
    10%{left:0px;}
    30%{left:0px;}
    40%{left:0px;}
    50%{left:0px;}
    60%{left:0px;}
    70%{left:0;}
    80%{left:-420px;}
    90%{left:-420px;}
    100%{left:-420px;}
  }
  @-moz-keyframes content-s{
    0%{left:-420px;}
    10%{left:0px;}
    30%{left:0px;}
    40%{left:0px;}
    50%{left:0px;}
    60%{left:0px;}
    70%{left:0;}
    80%{left:-420px;}
    90%{left:-420px;}
    100%{left:-420px;}
  }
  @keyframes content-s{
    0%{left:-420px;}
    10%{left:20px;}
    15%{left:0px;}
    30%{left:0px;}
    40%{left:0px;}
    50%{left:0px;}
    60%{left:0px;}
    70%{left:0;}
    80%{left:-420px;}
    90%{left:-420px;}
    100%{left:-420px;}
  }
  
  @-webkit-keyframes on{
    0%,100%{
      margin-left:0%;
    }
    21%{
      margin-left:0%;
    }
    25%{
      margin-left:15px;
    }
    46%{
      margin-left:15px;
    }
    50%{
      margin-left:30px;
    }
    71%{
      margin-left:30px;
    }
    75%{
      margin-left:45px;
    }
    96%{
      margin-left:45px;
    }
  }
  
  @-moz-keyframes on{
    0%,100%{
      margin-left:0%;
    }
    21%{
      margin-left:0%;
    }
    25%{
      margin-left:15px;
    }
    46%{
      margin-left:15px;
    }
    50%{
      margin-left:30px;
    }
    71%{
      margin-left:30px;
    }
    75%{
      margin-left:45px;
    }
    96%{
      margin-left:45px;
    }
  }
  
  @keyframes on{
    0%,100%{
      margin-left:0%;
    }
    21%{
      margin-left:0%;
    }
    25%{
      margin-left:15px;
    }
    46%{
      margin-left:15px;
    }
    50%{
      margin-left:30px;
    }
    71%{
      margin-left:30px;
    }
    75%{
      margin-left:45px;
    }
    96%{
      margin-left:45px;
    }
  }
  
  /* main */
  /* Reset */
  a{text-decoration:none;color:inherit;}
  html{width:100%;height:100%;}
  
  
  
